alias sup='ssh maximus@116.203.16.115'
alias blog='cd /Users/maximilianstaebler/code/flask/webapp/flashblog'
alias c='clear'
alias 3='python3'
alias l='ls -la'
alias ports="sudo lsof -PiTCP -sTCP:LISTEN"
alias st="speedtest"
alias ss='htop'
alias serv='cd /Users/maximilianstaebler/hetzner'
alias usb='sudo system_profiler SPUSBDataType'
alias cloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/'
alias caf='caffeinate'
alias pub='cd .ssh; cat id_rsa.pub'
alias root='sudo -i'
alias cloud_comp='cd /Users/maximilianstaebler/Library/Mobile\ Documents/com\~apple\~CloudDocs/master/Semester\ 2/Cloud\ Computing/Exercise/'
alias cwd='printf "%q\n" "$(pwd)"'
alias gitit='bash /Users/maximilianstaebler/code/.git/gitit.sh'
alias r='open -na Rstudio'
alias p='cd /Users/maximilianstaebler/code/python'
alias udemy='cd /Users/maximilianstaebler/code/udemy'
alias not='jupyter notebook'
alias sc='cd && cat .aliases'
alias sync='rsync -va --delete "/Users/maximilianstaebler/code/" "/Users/maximilianstaebler/Library/Mobile Documents/com~apple~CloudDocs/code/"'